openapi: 3.2.0
info:
  title: Switstack Config API
  version: '1.0'
  description: 'Operations tagged Config across 2 of this provider''s published API definitions: switstack-switcloud-openapi.yml, switstack-swittest-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://switcloud.switstack.io/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Config
paths:
  /api/config/bins:
    get:
      tags:
      - Config
      summary: List Bins
      operationId: list_bins
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: organization_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Organization Id
      - name: order_by
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Order By
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Search
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          description: Page number
          default: 1
          title: Page
        description: Page number
      - name: size
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 50
          title: Size
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_TypeVar_Customized_BINReadSchema_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Config
      summary: Create Bin
      operationId: create_bin
      security:
      - OAuth2PasswordBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BINCreateSchema'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BINReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/bins/{id}:
    get:
      tags:
      - Config
      summary: Get Bin
      operationId: get_bin
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BINReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Config
      summary: Update Bin
      operationId: update_bin
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BINUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BINReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Config
      summary: Partial Update Bin
      operationId: partial_update_bin
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BINPartialUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BINReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Config
      summary: Delete Bin
      operationId: delete_bin
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/bin-lists:
    get:
      tags:
      - Config
      summary: List Bin Lists
      operationId: list_bin_lists
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: with_related
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: With Related
      - name: organization_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Organization Id
      - name: order_by
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Order By
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Search
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          description: Page number
          default: 1
          title: Page
        description: Page number
      - name: size
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 50
          title: Size
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_TypeVar_Customized_BINListReadSchema_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Config
      summary: Create Bin List
      operationId: create_bin_list
      security:
      - OAuth2PasswordBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BINListCreateSchema'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BINListReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/bin-lists/{id}:
    get:
      tags:
      - Config
      summary: Get Bin List
      operationId: get_bin_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: with_related
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: With Related
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BINListReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Config
      summary: Update Bin List
      operationId: update_bin_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BINListUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BINListReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Config
      summary: Partial Update Bin List
      operationId: partial_update_bin_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BINListPartialUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BINListReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Config
      summary: Delete Bin List
      operationId: delete_bin_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: cascade_delete
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Cascade Delete
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/bin-lists/{id}/bin/{bin_id}:
    post:
      tags:
      - Config
      summary: Add Bin To Bin List
      operationId: add_bin_to_bin_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: bin_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Bin Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Config
      summary: Remove Bin From Bin List
      operationId: remove_bin_from_bin_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: bin_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Bin Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/bin-configs:
    get:
      tags:
      - Config
      summary: List Bin Configs
      operationId: list_bin_configs
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: with_related
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: With Related
      - name: organization_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Organization Id
      - name: order_by
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Order By
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Search
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          description: Page number
          default: 1
          title: Page
        description: Page number
      - name: size
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 50
          title: Size
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_TypeVar_Customized_BINConfigReadSchema_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Config
      summary: Create Bin Config
      operationId: create_bin_config
      security:
      - OAuth2PasswordBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BINConfigCreateSchema'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BINConfigReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/bin-configs/{id}:
    get:
      tags:
      - Config
      summary: Get Bin Config
      operationId: get_bin_config
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: with_related
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: With Related
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BINConfigReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Config
      summary: Update Bin Config
      operationId: update_bin_config
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BINConfigUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BINConfigReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Config
      summary: Partial Update Bin Config
      operationId: partial_update_bin_config
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BINConfigPartialUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BINConfigReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Config
      summary: Delete Bin Config
      operationId: delete_bin_config
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: cascade_delete
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Cascade Delete
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/bin-configs/{id}/bin-list/{bin_list_id}:
    post:
      tags:
      - Config
      summary: Add Bin List To Bin Config
      operationId: add_bin_list_to_bin_config
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: bin_list_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Bin List Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Config
      summary: Remove Bin List From Bin Config
      operationId: remove_bin_list_from_bin_config
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: bin_list_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Bin List Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/capks:
    get:
      tags:
      - Config
      summary: List Capks
      operationId: list_capks
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: organization_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Organization Id
      - name: order_by
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Order By
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Search
      - name: hash_type
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/CAPKHashType'
          - type: 'null'
          title: Hash Type
      - name: algorithm_type
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/CAPKAlgorithmType'
          - type: 'null'
          title: Algorithm Type
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          description: Page number
          default: 1
          title: Page
        description: Page number
      - name: size
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 50
          title: Size
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_TypeVar_Customized_CAPKReadSchema_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Config
      summary: Create Capk
      operationId: create_capk
      security:
      - OAuth2PasswordBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CAPKCreateSchema'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CAPKReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/capks/{id}:
    get:
      tags:
      - Config
      summary: Get Capk
      operationId: get_capk
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CAPKReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Config
      summary: Update Capk
      operationId: update_capk
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CAPKUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CAPKReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Config
      summary: Partial Update Capk
      operationId: partial_update_capk
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CAPKPartialUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CAPKReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Config
      summary: Delete Capk
      operationId: delete_capk
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/capk-lists:
    get:
      tags:
      - Config
      summary: List Capk Lists
      operationId: list_capk_lists
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: with_related
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: With Related
      - name: organization_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Organization Id
      - name: order_by
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Order By
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Search
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          description: Page number
          default: 1
          title: Page
        description: Page number
      - name: size
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 50
          title: Size
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_TypeVar_Customized_CAPKListReadSchema_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Config
      summary: Create Capk List
      operationId: create_capk_list
      security:
      - OAuth2PasswordBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CAPKListCreateSchema'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CAPKListReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/capk-lists/{id}:
    get:
      tags:
      - Config
      summary: Get Capk List
      operationId: get_capk_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: with_related
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: With Related
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CAPKListReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Config
      summary: Update Capk List
      operationId: update_capk_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CAPKListUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CAPKListReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Config
      summary: Partial Update Capk List
      operationId: partial_update_capk_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CAPKListPartialUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CAPKListReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Config
      summary: Delete Capk List
      operationId: delete_capk_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: cascade_delete
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Cascade Delete
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/capk-lists/{id}/capk/{capk_id}:
    post:
      tags:
      - Config
      summary: Add Capk To Capk List
      operationId: add_capk_to_capk_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: capk_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Capk Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Config
      summary: Remove Capk From Capk List
      operationId: remove_capk_from_capk_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: capk_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Capk Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/crs:
    get:
      tags:
      - Config
      summary: List Crs
      operationId: list_crs
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: organization_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Organization Id
      - name: order_by
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Order By
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Search
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          description: Page number
          default: 1
          title: Page
        description: Page number
      - name: size
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 50
          title: Size
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_TypeVar_Customized_CRReadSchema_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Config
      summary: Create Cr
      operationId: create_cr
      security:
      - OAuth2PasswordBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CRCreateSchema'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/crs/{id}:
    get:
      tags:
      - Config
      summary: Get Cr
      operationId: get_cr
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Config
      summary: Update Cr
      operationId: update_cr
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CRUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Config
      summary: Partial Update Cr
      operationId: partial_update_cr
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CRPartialUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Config
      summary: Delete Cr
      operationId: delete_cr
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/cr-lists:
    get:
      tags:
      - Config
      summary: List Cr Lists
      operationId: list_cr_lists
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: with_related
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: With Related
      - name: organization_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Organization Id
      - name: order_by
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Order By
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Search
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          description: Page number
          default: 1
          title: Page
        description: Page number
      - name: size
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 50
          title: Size
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_TypeVar_Customized_CRListReadSchema_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Config
      summary: Create Cr List
      operationId: create_cr_list
      security:
      - OAuth2PasswordBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CRListCreateSchema'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRListReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/cr-lists/{id}:
    get:
      tags:
      - Config
      summary: Get Cr List
      operationId: get_cr_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: with_related
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: With Related
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRListReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Config
      summary: Update Cr List
      operationId: update_cr_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CRListUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRListReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Config
      summary: Partial Update Cr List
      operationId: partial_update_cr_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CRListPartialUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRListReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Config
      summary: Delete Cr List
      operationId: delete_cr_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: cascade_delete
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Cascade Delete
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/cr-lists/{id}/cr/{cr_id}:
    post:
      tags:
      - Config
      summary: Add Cr To Cr List
      operationId: add_cr_to_cr_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: cr_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Cr Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Config
      summary: Remove Cr From Cr List
      operationId: remove_cr_from_cr_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: cr_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Cr Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/emvs:
    get:
      tags:
      - Config
      summary: List Emvs
      operationId: list_emvs
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: organization_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Organization Id
      - name: order_by
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Order By
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Search
      - name: technology_type
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/EMVTechnologyType'
          - type: 'null'
          title: Technology Type
      - name: transaction_type
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/EMVTransactionType'
          - type: 'null'
          title: Transaction Type
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          description: Page number
          default: 1
          title: Page
        description: Page number
      - name: size
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 50
          title: Size
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_TypeVar_Customized_EMVReadSchema_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Config
      summary: Create Emv
      operationId: create_emv
      security:
      - OAuth2PasswordBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EMVCreateSchema'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EMVReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/emvs/{id}:
    get:
      tags:
      - Config
      summary: Get Emv
      operationId: get_emv
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EMVReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Config
      summary: Update Emv
      operationId: update_emv
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EMVUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EMVReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Config
      summary: Partial Update Emv
      operationId: partial_update_emv
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EMVPartialUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EMVReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Config
      summary: Delete Emv
      operationId: delete_emv
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/emv-lists:
    get:
      tags:
      - Config
      summary: List Emv Lists
      operationId: list_emv_lists
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: with_related
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: With Related
      - name: organization_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Organization Id
      - name: order_by
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Order By
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Search
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          description: Page number
          default: 1
          title: Page
        description: Page number
      - name: size
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 50
          title: Size
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_TypeVar_Customized_EMVListReadSchema_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Config
      summary: Create Emv List
      operationId: create_emv_list
      security:
      - OAuth2PasswordBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EMVListCreateSchema'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EMVListReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/emv-lists/{id}:
    get:
      tags:
      - Config
      summary: Get Emv List
      operationId: get_emv_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: with_related
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: With Related
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EMVListReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Config
      summary: Update Emv List
      operationId: update_emv_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EMVListUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EMVListReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Config
      summary: Partial Update Emv List
      operationId: partial_update_emv_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EMVListPartialUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EMVListReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Config
      summary: Delete Emv List
      operationId: delete_emv_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: cascade_delete
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Cascade Delete
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/emv-lists/{id}/emv/{emv_id}:
    post:
      tags:
      - Config
      summary: Add Emv To Emv List
      operationId: add_emv_to_emv_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: emv_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Emv Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Config
      summary: Remove Emv From Emv List
      operationId: remove_emv_from_emv_list
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: emv_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Emv Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/emv-configs:
    get:
      tags:
      - Config
      summary: List Emv Configs
      operationId: list_emv_configs
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: with_related
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: With Related
      - name: organization_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Organization Id
      - name: order_by
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Order By
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Search
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          description: Page number
          default: 1
          title: Page
        description: Page number
      - name: size
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 50
          title: Size
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_TypeVar_Customized_EMVConfigReadSchema_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Config
      summary: Create Emv Config
      operationId: create_emv_config
      security:
      - OAuth2PasswordBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EMVConfigCreateSchema'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EMVConfigReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/emv-configs/{id}:
    get:
      tags:
      - Config
      summary: Get Emv Config
      operationId: get_emv_config
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: with_related
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: With Related
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EMVConfigReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Config
      summary: Update Emv Config
      operationId: update_emv_config
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EMVConfigUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EMVConfigReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Config
      summary: Partial Update Emv Config
      operationId: partial_update_emv_config
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EMVConfigPartialUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EMVConfigReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Config
      summary: Delete Emv Config
      operationId: delete_emv_config
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: cascade_delete
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Cascade Delete
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/poi-configs:
    get:
      tags:
      - Config
      summary: List Poi Configs
      operationId: list_poi_configs
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: with_related
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: With Related
      - name: organization_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Organization Id
      - name: order_by
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Order By
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Search
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          description: Page number
          default: 1
          title: Page
        description: Page number
      - name: size
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 50
          title: Size
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_TypeVar_Customized_POIConfigReadSchema_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Config
      summary: Create Poi Config
      operationId: create_poi_config
      security:
      - OAuth2PasswordBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POIConfigCreateSchema'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POIConfigReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/config/poi-configs/{id}:
    get:
      tags:
      - Config
      summary: Get Poi Config
      operationId: get_poi_config
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: with_related
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: With Related
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POIConfigReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Config
      summary: Update Poi Config
      operationId: update_poi_config
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POIConfigUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POIConfigReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Config
      summary: Partial Update Poi Config
      operationId: partial_update_poi_config
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POIConfigPartialUpdateSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POIConfigReadSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Config
      summary: Delete Poi Config
      operationId: delete_poi_config
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: cascade_delete
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Cascade Delete
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://switcloud.switstack.io/
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /api/configs/list:
    get:
      tags:
      - Config
      summary: List Config Files
      operationId: list_config_files
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: path
        in: query
        required: false
        schema:
          type: string
          format: path
          default: .
          title: Path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDirectorySchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/configs/load:
    get:
      tags:
      - Config
      summary: Load Config File
      operationId: load_config_file
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: path
        in: query
        required: true
        schema:
          type: string
          format: path
          title: Path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Load Config File Api Configs Load Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    CAPKListUpdateSchema:
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 1
          title: Name
          examples:
          - CAPK list name
      additionalProperties: false
      type: object
      required:
      - name
      title: CAPKListUpdateSchema
    CRListReadSchema:
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 1
          title: Name
          examples:
          - CR list name
        id:
          type: string
          format: uuid
          title: Id
        organization_id:
          type: string
          format: uuid
          title: Organization Id
        crs:
          anyOf:
          - items:
              $ref: '#/components/schemas/CRReadSchema'
            type: array
          - type: 'null'
          title: Crs
      type: object
      required:
      - name
      - id
      - organization_id
      title: CRListReadSchema
    EMVConfigReadSchema:
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 1
          title: Name
          examples:
          - EMV config name
        id:
          type: string
          format: uuid
          title: Id
        organization_id:
          type: string
          format: uuid
          title: Organization Id
        emv_nominal_list_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Emv Nominal List Id
        emv_nominal_list:
          anyOf:
          - $ref: '#/components/schemas/EMVListReadSchema'
          - type: 'null'
        emv_failsafe_list_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Emv Failsafe List Id
        emv_failsafe_list:
          anyOf:
          - $ref: '#/components/schemas/EMVListReadSchema'
          - type: 'null'
      type: object
      required:
      - name
      - id
      - organization_id
      title: EMVConfigReadSchema
    POIConfigPartialUpdateSchema:
      properties:
        name:
          anyOf:
          - type: string
            maxLength: 255
            minLength: 1
            examples:
            - POI config name
          - type: 'null'
          title: Name
        emv_config_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Emv Config Id
        capk_list_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Capk List Id
        cr_list_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Cr List Id
        bin_config_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Bin Config Id
      additionalProperties: false
      type: object
      title: POIConfigPartialUpdateSchema
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    CAPKAlgorithmType:
      type: string
      enum:
      - RSA
      title: CAPKAlgorithmType
    POIConfigUpdateSchema:
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 1
          title: Name
          examples:
          - POI config name
        emv_config_id:
          type: string
          format: uuid
          title: Emv Config Id
        capk_list_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Capk List Id
        cr_list_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Cr List Id
        bin_config_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Bin Config Id
      additionalProperties: false
      type: object
      required:
      - name
      - emv_config_id
      title: POIConfigUpdateSchema
    CAPKCreateSchema:
      properties:
        name:
          anyOf:
          - type: string
            maxLength: 255
            minLength: 1
            examples:
            - CAPK name
          - type: 'null'
          title: Name
        rid:
          type: string
          maxLength: 10
          minLength: 10
          title: Rid
          examples:
          - A000000004
        index:
          type: string
          maxLength: 2
          minLength: 2
          title: Index
          examples:
          - EF
        hash_type:
          $ref: '#/components/schemas/CAPKHashType'
          default: UNDEFINED
        algorithm_type:
          $ref: '#/components/schemas/CAPKAlgorithmType'
          default: RSA
        modulus:
          type: string
          maxLength: 1024
          minLength: 1
          title: Modulus
          examples:
          - A191CB87473F29349B5D60A88B3EAEE0973AA6F1A082F358D849FDDFF9C091F899EDA9792CAF09EF28F5D22404B88A2293EEBBC1949C43BEA4D60CFD879A1539544E09E0F09F60F065B2BF2A13ECC705F3D468B9D33AE77AD9D3F19CA40F23DCF5EB7C04DC8F69EBA565B1EBCB4686CD274785530FF6F6E9EE43AA43FDB02CE00DAEC15C7B8FD6A9B394BABA419D3F6DC85E16569BE8E76989688EFEA2DF22FF7D35C043338DEAA982A02B866DE5328519EBBCD6F03CDD686673847F84DB651AB86C28CF1462562C577B853564A290C8556D818531268D25CC98A4CC6A0BDFFFDA2DCCA3A94C998559E307FDDF915006D9A987B07DDAEB3B
        exponent:
          type: string
          maxLength: 6
          minLength: 2
          title: Exponent
          examples:
          - '03'
        hash:
          type: string
          minLength: 1
          title: Hash
        expires_at:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Expires At
        organization_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Organization Id
      additionalProperties: false
      type: object
      required:
      - rid
      - index
      - modulus
      - exponent
      - hash
      title: CAPKCreateSchema
    Page_TypeVar_Customized_EMVConfigReadSchema_:
      properties:
        items:
          items:
            $ref: '#/components/schemas/EMVConfigReadSchema'
          type: array
          title: Items
        total:
          type: integer
          minimum: 0
          title: Total
        page:
          type: integer
          minimum: 1
          title: Page
        size:
          type: integer
          minimum: 1
          title: Size
        pages:
          type: integer
          minimum: 0
          title: Pages
      type: object
      required:
      - items
      - total
      - page
      - size
      - pages
      title: Page[TypeVar]Customized[EMVConfigReadSchema]
    EMVListCreateSchema:
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 1
          title: Name
          examples:
          - EMV list name
        organization_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Organization Id
      additionalProperties: false
      type: object
      required:
      - name
      title: EMVListCreateSchema
    BINConfigCreateSchema:
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 1
          title: Name
          examples:
          - BIN config name
        organization_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Organization Id
      additionalProperties: false
      type: object
      required:
      - name
      title: BINConfigCreateSchema
    CRPartialUpdateSchema:
      properties:
        name:
          anyOf:
          - type: string
            maxLength: 255
            minLength: 1
            examples:
            - CR name
          - type: 'null'
          title: Name
        rid:
          anyOf:
          - type: string
            maxLength: 10
            minLength: 10
            examples:
            - A000000004
          - type: 'null'
          title: Rid
        index:
          anyOf:
          - type: string
            maxLength: 2
            minLength: 2
            examples:
            - '00'
          - type: 'null'
          title: Index
        serial_number:
          anyOf:
          - type: string
            maxLength: 6
            minLength: 6
            examples:
            - 3F70D8
          - type: 'null'
          title: Serial Number
      additionalProperties: false
      type: object
      title: CRPartialUpdateSchema
    BINConfigUpdateSchema:
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 1
          title: Name
          examples:
          - BIN config name
      additionalProperties: false
      type: object
      required:
      - name
      title: BINConfigUpdateSchema
    POIConfigCreateSchema:
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 1
          title: Name
          examples:
          - POI config name
        emv_config_id:
          type: string
          format: uuid
          title: Emv Config Id
        capk_list_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Capk List Id
        cr_list_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Cr List Id
        bin_config_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Bin Config Id
        organization_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Organization Id
      additionalProperties: false
      type: object
      required:
      - name
      - emv_config_id
      title: POIConfigCreateSchema
    EMVConfigUpdateSchema:
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 1
          title: Name
          examples:
          - EMV config name
        emv_nominal_list_id:
          type: string
          format: uuid
          title: Emv Nominal List Id
        emv_failsafe_list_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Emv Failsafe List Id
      additionalProperties: false
      type: object
      required:
      - name
      - emv_nominal_list_id
      title: EMVConfigUpdateSchema
    BINConfigReadSchema:
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 1
          title: Name
          examples:
          - BIN config name
        id:
          type: string
          format: uuid
          title: Id
        organization_id:
          type: string
          format: uuid
          title: Organization Id
        bin_lists:
          anyOf:
          - items:
              $ref: '#/components/schemas/BINListReadSchema'
            type: array
          - type: 'null'
          title: Bin Lists
      type: object
      required:
      - name
      - id
      - organization_id
      title: BINConfigReadSchema
    EMVUpdateSchema:
      properties:
        name:
          anyOf:
          - type: string
            maxLength: 255
            minLength: 1
            examples:
            - EMV name
          - type: 'null'
          title: Name
        technology_type:
          $ref: '#/components/schemas/EMVTechnologyType'
          default: CONTACTLESS
        kernel:
          type: string
          maxLength: 2
          minLength: 1
          title: Kernel
          examples:
          - 0F
        aid:
          type: string
          maxLength: 32
          minLength: 1
          title: Aid
          examples:
          - A0000000041010
        transaction_type:
          $ref: '#/components/schemas/EMVTransactionType'
          default: '00'
        asf:
          type: boolean
          title: Asf
          default: true
        tlv:
          type: string
          minLength: 1
          title: Tlv
          examples:
          - 5F20 0F 4D696B65204A6F686E20536D697468
      additionalProperties: false
      type: object
      required:
      - kernel
      - aid
      - tlv
      title: EMVUpdateSchema
    CRListCreateSchema:
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 1
          title: Name
          examples:
          - CR list name
        organization_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Organization Id
      additionalProperties: false
      type: object
      required:
      - name
      title: CRListCreateSchema
    Page_TypeVar_Customized_CRReadSchema_:
      properties:
        items:
          items:
            $ref: '#/components/schemas/CRReadSchema'
          type: array
          title: Items
        total:
          type: integer
          minimum: 0
          title: Total
        page:
          type: integer
          minimum: 1
          title: Page
        size:
          type: integer
          minimum: 1
          title: Size
        pages:
          type: integer
          minimum: 0
          title: Pages
      type: object
      required:
      - items
      - total
      - page
      - size
      - pages
      title: Page[TypeVar]Customized[CRReadSchema]
    EMVListPartialUpdateSchema:
      properties:
        name:
          anyOf:
          - type: string
            maxLength: 255
            minLength: 1
            examples:
            - EMV list name
          - type: 'null'
          title: Name
      additionalProperties: false
      type: object
      title: EMVListPartialUpdateSchema
    Page_TypeVar_Customized_CAPKReadSchema_:
      properties:
        items:
          items:
            $ref: '#/components/schemas/CAPKReadSchema'
          type: array
          title: Items
        total:
          type: integer
          minimum: 0
          title: Total
        page:
          type: integer
          minimum: 1
          title: Page
        size:
          type: integer
          minimum: 1
          title: Size
        pages:
          type: integer
          minimum: 0
          title: Pages
      type: object
      required:
      - items
      - total
      - page
      - size
      - pages
      title: Page[TypeVar]Customized[CAPKReadSchema]
    BINListReadSchema:
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 1
          title: Name
          examples:
          - BIN list name
        id:
          type: string
          format: uuid
          title: Id
        organization_id:
          type: string
          format: uuid
          title: Organization Id
        bins:
          anyOf:
          - items:
              $ref: '#/components/schemas/BINReadSchema'
            type: array
          - type: 'null'
          title: Bins
      type: object
      required:
      - name
      - id
      - organization_id
      title: BINListReadSchema
    EMVReadSchema:
      properties:
        name:
          anyOf:
          - type: string
            maxLength: 255
            minLength: 1
            examples:
            - EMV name
          - type: 'null'
          title: Name
        technology_type:
          $ref: '#/components/schemas/EMVTechnologyType'
          default: CONTACTLESS
        kernel:
          type: string
          maxLength: 2
          minLength: 1
          title: Kernel
          examples:
          - 0F
        aid:
          type: string
          maxLength: 32
          minLength: 1
          title: Aid
          examples:
          - A0000000041010
        transaction_type:
          $ref: '#/components/schemas/EMVTransactionType'
          default: '00'
        asf:
          type: boolean
          title: Asf
          default: true
        tlv:
          type: string
          minLength: 1
          title: Tlv
          examples:
          - 5F20 0F 4D696B65204A6F686E20536D697468
        id:
          type: string
          format: uuid
          title: Id
        organization_id:
          type: string
          format: uuid
          title: Organization Id
      type: object
      required:
      - kernel
      - aid
      - tlv
      - id
      - organization_id
      title: EMVReadSchema
    Page_TypeVar_Customized_EMVListReadSchema_:
      properties:
        items:
          items:
            $ref: '#/components/schemas/EMVListReadSchema'
          type: array
          title: Items
        total:
          type: integer
          minimum: 0
          title: Total
        page:
          type: integer
          minimum: 1
          title: Page
        size:
          type: integer
          minimum: 1
          title: Size
        pages:
          type: integer
          minimum: 0
          title: Pages
      type: object
      required:
      - items
      - total
      - page
      - size
      - pages
      title: Page[TypeVar]Customized[EMVListReadSchema]
    CAPKPartialUpdateSchema:
      properties:
        name:
          anyOf:
          - type: string
            maxLength: 255
            minLength: 1
            examples:
            - CAPK name
          - type: 'null'
          title: Name
        rid:
          anyOf:
          - type: string
            maxLength: 10
            minLength: 10
            examples:
            - A000000004
          - type: 'null'
          title: Rid
        index:
          anyOf:
          - type: string
            maxLength: 2
            minLength: 2
            examples:
            - EF
          - type: 'null'
          title: Index
        hash_type:
          anyOf:
          - $ref: '#/components/schemas/CAPKHashType'
          - type: 'null'
        algorithm_type:
          anyOf:
          - $ref: '#/components/schemas/CAPKAlgorithmType'
          - type: 'null'
        modulus:
          anyOf:
          - type: string
            maxLength: 1024
            minLength: 1
            examples:
            - A191CB87473F29349B5D60A88B3EAEE0973AA6F1A082F358D849FDDFF9C091F899EDA9792CAF09EF28F5D22404B88A2293EEBBC1949C43BEA4D60CFD879A1539544E09E0F09F60F065B2BF2A13ECC705F3D468B9D33AE77AD9D3F19CA40F23DCF5EB7C04DC8F69EBA565B1EBCB4686CD274785530FF6F6E9EE43AA43FDB02CE00DAEC15C7B8FD6A9B394BABA419D3F6DC85E16569BE8E76989688EFEA2DF22FF7D35C043338DEAA982A02B866DE5328519EBBCD6F03CDD686673847F84DB651AB86C28CF1462562C577B853564A290C8556D818531268D25CC98A4CC6A0BDFFFDA2DCCA3A94C998559E307FDDF915006D9A987B07DDAEB3B
          - type: 'null'
          title: Modulus
        exponent:
          anyOf:
          - type: string
            maxLength: 6
            minLength: 2
            examples:
            - '03'
          - type: 'null'
          title: Exponent
        hash:
          anyOf:
          - type: string
            minLength: 1
          - type: 'null'
          title: Hash
        expires_at:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Expires At
      additionalProperties: false
      type: object
      title: CAPKPartialUpdateSchema
    CRListUpdateSchema:
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 1
          title: Name
          examples:
          - CR list name
      additionalProperties: false
      type: object
      required:
      - name
      title: CRListUpdateSchema
    CAPKHashType:
      type: string
      enum:
      - UNDEFINED
      - SHA1
      - SHA256
      title: CAPKHashType
    CRReadSchema:
      properties:
        name:
          anyOf:
          - type: string
            maxLength: 255
            minLength: 1
            examples:
            - CR name
          - type: 'null'
          title: Name
        rid:
          type: string
          maxLength: 10
          minLength: 10
          title: Rid
          examples:
          - A000000004
        index:
          type: string
          maxLength: 2
          minLength: 2
          title: Index
          examples:
          - '00'
        serial_number:
          type: string
          maxLength: 6
          minLength: 6
          title: Serial Number
          examples:
          - 3F70D8
        id:
          type: string
          format: uuid
          title: Id
        organization_id:
          type: string
          format: uuid
          title: Organization Id
      type: object
      required:
      - rid
      - index
      - serial_number
      - id
      - organization_id
      title: CRReadSchema
    CAPKListPartialUpdateSchema:
      properties:
        name:
          anyOf:
          - type: string
            maxLength: 255
            minLength: 1
            examples:
            - CAPK list name
          - type: 'null'
          title: Name
      additionalProperties: false
      type: object
      required:
      - name
      title: CAPKListPartialUpdateSchema
    Page_TypeVar_Customized_BINReadSchema_:
      properties:
        items:
          items:
            $ref: '#/components/schemas/BINReadSchema'
          type: array
          title: Items
        total:
          type: integer
          minimum: 0
          title: Total
        page:
          type: integer
          minimum: 1
          title: Page
        size:
          type: integer
          minimum: 1
          title: Size
        pages:
          type: integer
          minimum: 0
          title: Pages
      type: object
      required:
      - items
      - total
      - page
      - size
      - pages
      title: Page[TypeVar]Customized[BINReadSchema]
    CAPKReadSchema:
      properties:
        name:
          anyOf:
          - type: string
            maxLength: 255
            minLength: 1
            examples:
            - CAPK name
          - type: 'null'
          title: Name
        rid:
          type: string
          maxLength: 10
          minLength: 10
          title: Rid
          examples:
          - A000000004
        index:
          type: string
          maxLength: 2
          minLength: 2
          title: Index
          examples:
          - EF
        hash_type:
          $ref: '#/components/schemas/CAPKHashType'
          default: UNDEFINED
        algorithm_type:
          $ref: '#/components/schemas/CAPKAlgorithmType'
          default: RSA
        modulus:
          type: string
          maxLength: 1024
          minLength: 1
          title: Modulus
          examples:
[...]
